.br-1 {
    width: 100%;
    height: 1px;
}

.br-2 {
    width: 100%;
    height: 2px;
}

.br-3 {
    width: 100%;
    height: 3px;
}

.br-4 {
    width: 100%;
    height: 4px; 
}

.br-5 {
    width: 100%;
    height: 5px; 
}

.br-6 {
    width: 100%;
    height: 6px; 
}

.br-7 {
    width: 100%;
    height: 7px; 
}

.br-8 {
    width: 100%;
    height: 8px; 
}

.br-9 {
    width: 100%;
    height: 9px; 
}

.br-10 {
    width: 100%;
    height: 10px; 
}

.br-11 {
    width: 100%;
    height: 11px; 
}

.br-12 {
    width: 100%;
    height: 12px; 
}

.br-13 {
    width: 100%;
    height: 13px; 
}

.br-14 {
    width: 100%;
    height: 14px; 
}

.br-15 {
    width: 100%;
    height: 15px; 
}

.br-16 {
    width: 100%;
    height: 16px; 
}

.br-17 {
    width: 100%;
    height: 17px; 
}

.br-18 {
    width: 100%;
    height: 18px; 
}

.br-19 {
    width: 100%;
    height: 19px; 
}

.br-20 {
    width: 100%;
    height: 20px; 
}

.br-21 {
    width: 100%;
    height: 21px; 
}

.br-22 {
    width: 100%;
    height: 22px; 
}

.br-23 {
    width: 100%;
    height: 23px; 
}

.br-24 {
    width: 100%;
    height: 24px; 
}

.br-25 {
    width: 100%;
    height: 25px; 
}

.br-26 {
    width: 100%;
    height: 26px; 
}

.br-27 {
    width: 100%;
    height: 27px; 
}

.br-28 {
    width: 100%;
    height: 28px; 
}

.br-29 {
    width: 100%;
    height: 29px; 
}

.br-30 {
    width: 100%;
    height: 30px; 
}

.br-31 {
    width: 100%;
    height: 31px; 
}

.br-32 {
    width: 100%;
    height: 32px; 
}

.br-33 {
    width: 100%;
    height: 33px; 
}

.br-34 {
    width: 100%;
    height: 34px; 
}

.br-35 {
    width: 100%;
    height: 35px; 
}

.br-36 {
    width: 100%;
    height: 36px; 
}

.br-37 {
    width: 100%;
    height: 37px; 
}

.br-38 {
    width: 100%;
    height: 38px; 
}

.br-39 {
    width: 100%;
    height: 39px; 
}

.br-40 {
    width: 100%;
    height: 40px; 
}

.br-41 {
    width: 100%;
    height: 41px; 
}

.br-42 {
    width: 100%;
    height: 42px; 
}

.br-43 {
    width: 100%;
    height: 43px; 
}

.br-44 {
    width: 100%;
    height: 44px; 
}

.br-45 {
    width: 100%;
    height: 45px; 
}

.br-46 {
    width: 100%;
    height: 46px; 
}

.br-47 {
    width: 100%;
    height: 47px; 
}

.br-48 {
    width: 100%;
    height: 48px; 
}

.br-49 {
    width: 100%;
    height: 49px; 
}

.br-50 {
    width: 100%;
    height: 50px; 
}

.br-51 {
    width: 100%;
    height: 51px; 
}

.br-52 {
    width: 100%;
    height: 52px; 
}

.br-53 {
    width: 100%;
    height: 53px; 
}

.br-54 {
    width: 100%;
    height: 54px; 
}

.br-55 {
    width: 100%;
    height: 55px; 
}

.br-56 {
    width: 100%;
    height: 56px; 
}

.br-57 {
    width: 100%;
    height: 57px; 
}

.br-58 {
    width: 100%;
    height: 58px; 
}

.br-59 {
    width: 100%;
    height: 59px; 
}

.br-60 {
    width: 100%;
    height: 60px; 
}

.br-61 {
    width: 100%;
    height: 61px; 
}

.br-62 {
    width: 100%;
    height: 62px; 
}

.br-63 {
    width: 100%;
    height: 63px; 
}

.br-64 {
    width: 100%;
    height: 64px; 
}

.br-65 {
    width: 100%;
    height: 65px; 
}

.br-66 {
    width: 100%;
    height: 66px; 
}

.br-67 {
    width: 100%;
    height: 67px; 
}

.br-68 {
    width: 100%;
    height: 68px; 
}

.br-69 {
    width: 100%;
    height: 69px; 
}

.br-70 {
    width: 100%;
    height: 70px; 
}

.br-71 {
    width: 100%;
    height: 71px; 
}

.br-72 {
    width: 100%;
    height: 72px; 
}

.br-73 {
    width: 100%;
    height: 73px; 
}

.br-74 {
    width: 100%;
    height: 74px; 
}

.br-75 {
    width: 100%;
    height: 75px; 
}

.br-76 {
    width: 100%;
    height: 76px; 
}

.br-77 {
    width: 100%;
    height: 77px; 
}

.br-78 {
    width: 100%;
    height: 78px; 
}

.br-79 {
    width: 100%;
    height: 79px; 
}

.br-80 {
    width: 100%;
    height: 80px; 
}

.br-81 {
    width: 100%;
    height: 81px; 
}

.br-82 {
    width: 100%;
    height: 82px; 
}

.br-83 {
    width: 100%;
    height: 83px; 
}

.br-84 {
    width: 100%;
    height: 84px; 
}

.br-85 {
    width: 100%;
    height: 85px; 
}

.br-86 {
    width: 100%;
    height: 86px; 
}

.br-87 {
    width: 100%;
    height: 87px; 
}

.br-88 {
    width: 100%;
    height: 88px; 
}

.br-89 {
    width: 100%;
    height: 89px; 
}

.br-90 {
    width: 100%;
    height: 90px; 
}

.br-91 {
    width: 100%;
    height: 91px; 
}

.br-92 {
    width: 100%;
    height: 92px; 
}

.br-93 {
    width: 100%;
    height: 93px; 
}

.br-94 {
    width: 100%;
    height: 94px; 
}

.br-95 {
    width: 100%;
    height: 95px; 
}

.br-96 {
    width: 100%;
    height: 96px; 
}

.br-97 {
    width: 100%;
    height: 97px; 
}

.br-98 {
    width: 100%;
    height: 98px; 
}

.br-99 {
    width: 100%;
    height: 99px; 
}

.br-100 {
    width: 100%;
    height: 100px; 
}