@import 'main-module.css';

.top-img {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.top {
    /* 合并外边距声明，简化代码 */
    margin: 10px 20px 20px 10px; 
    border-radius: 10px;
    /* 修正 calc 函数中的空格问题，避免语法错误 */
    width: calc(100% - 20px);
    position: fixed;
    background-color: var(--top-color) !important;
    z-index: 10000;
}

.top a {
    color: var(--text-color);
    margin: 0px 0px 0px 10px;
    font-weight: bold;
}

.top a:hover {
    color: var(--text-color);
}

.top button {
    margin: 0px 0px 0px 10px;
}