.theme-alert {
    position: fixed;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    padding: 12px 24px;
    background: rgba(255, 255, 0, 1);
    color:rgb(0, 0, 0);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    font-size: 14px;
    z-index: 99999;
    animation: slideDown 0.5s ease-out;
}

@keyframes slideDown {
    from { top: -50px; }
    to { top: 70px; }
}