@import "styles/main-module.css";

.modal {
    margin-top: 50px;
}

.modal-content {
    background-color: var(--card-bg);
    color: var(--text-color);
}

.modal-header {
    border-bottom: 1px solid var(--text-color);
}

.modal-footer {
    border-top: 1px solid var(--text-color);
}

.modal-header .btn-close {
    filter: invert(1) grayscale(100%) brightness(200%);
    /* 上面的 filter 用于在深色模式下让关闭按钮可见，浅色模式下可根据实际情况调整 */
}

.card {
    background-color: var(--card-bg);
    color: var(--text-color);
    border: 1px solid var(--text-color); 
}

.card-body {
    background-color: var(--card-bg);
    color: var(--text-color);
}